/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.loginView{
     width: 400px;
     height: 400px;
     display: -webkit-box; display: -moz-box; display: box;
        -webkit-box-orient: vertical;-moz-box-orient: vertical;box-orient: vertical;
        -webkit-box-align: center;-moz-box-align: center;flex-align: center;
        -webkit-box-pack: center;-moz-box-pack: center;flex-pack: center;
     margin: auto;

}
.scrollPanel{
       width: 400px;
       height: 320px;
}

.textBoxChat {
    padding: 2px;
    width: 338px;
}

.chat {
    position: absolute;
    top: center;
    left: center;
}

.exitButtonStyle {
    align-content: center;
}

.tableVerticalPanel{
    text-align: center;
}